<link rel="stylesheet" href="/assets/css/chat.scss" />
<li class="chat">
    <div>
        <img class="chat_photo" src="{{chat.photo}}"/>
    </div>
    <div class="chat_name" title="{{chat.name}}">
        <a href="{{chat.url}}">{{chat.name}}</a>
    </div>
    {{#if chat.count}}
        <div class="chat_count">{{chat.count}}</div>
    {{/if}}
</li>
