<link rel="stylesheet" href="/assets/css/input.scss" />
<div class="input">
    <input class="m-b-10" type="{{type}}" placeholder="{{placeholder}}"  name="{{name}}" value="{{value}}"></input>
    <div class="error">{{error}}</div>
</div>
